<div>
  <h5 class="m-4 text-2xl font-bold tracking-tight text-black">Edit your posts</h5>
</div>
{{#each posts as |post|}}
<form id="edit-post">
  <input type="hidden" id="postnum" value="{{post.id}}"  />
  <div class="m-4 border border-gray-200 rounded-lg bg-white">
    <div class="p-3 border-b">
      <div>
        <div>
          <label
            for="title"
            class="block mb-2 text-sm font-medium text-black">Post title</label>
          <textarea
            id="title{{post.id}}"
            rows="1"
            class="block p-2.5 w-full text-sm text-black bg-gray-50 rounded-lg border border-gray-300">
                {{post.title}}
            </textarea>
        </div>
      </div>
    </div>
    <div class="p-3 bg-white rounded-b-lg">
      <label
        for="post"
        class="block mb-2 text-sm font-medium text-black">Post</label>
      <textarea
        id="content{{post.id}}"
        rows="8"
        class="block p-2.5 w-full text-sm text-black bg-gray-50 rounded-lg border border-gray-300"required>{{post.description}}</textarea>
    </div>
  </div>
  <button
    type="click"
    id="update-btn" data-id="{{post.id}}"
    class="btn ml-4 inline-flex items-center px-5 py-2.5 text-sm font-medium text-center text-white bg-green-700 rounded-lg hover:bg-green-900">Update
  </button>
  <button
    type="click" data-id="{{post.id}}"
    class="delete-btn ml-4 inline-flex items-center px-5 py-2.5 text-sm font-medium text-center text-white bg-red-600 rounded-lg hover:bg-red-900">Delete
  </button>
  {{/each}}
</form>

<script src="./js/edit.js"></script>